<app-detalhe-cliente *ngIf="clienteAtual" [clienteAtual]="clienteAtual" (acaoExcluir)="excluirCliente($event)"></app-detalhe-cliente>

<div class="col-sm-12">
    <button class="btn btn-primary" (click)="adicionarCliente()">
      {{mostrarFormulario ? "Fechar cadastro":"Adicionar Cliente"}}
    </button>
</div>

<div [ngClass]="{'col-sm-12': !mostrarFormulario, 'col-sm-6':mostrarFormulario}">


    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        *
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Sobrenome
                    </th>
                    <th>
                        Data de Cadastro
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let cliente of listagem'>
                    <td>
                        {{cliente.Codigo}}
                    </td>
                    <td (click)="abrirCliente(cliente)">
                        {{cliente.Nome}}
                    </td>
                    <td>
                        {{cliente.Sobrenome}}
                    </td>
                    <td>
                        {{cliente.DataCriacao | date:'dd/MM/yyyy'}}
                    </td>
                </tr>
                <tr *ngIf="listagem.length <= 0">
                    <td colspan="3">Sem clientes</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-sm-6" *ngIf="mostrarFormulario">
    <app-formulario-cliente [clienteAtual]="clienteAtual" (acaoCriar)="cadastroCliente($event)"></app-formulario-cliente>
</div>